body{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

h1{
    text-align: center;
}

.container{

    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
}

.sub-container{
    flex-basis: 30%;
    padding: 12px;
    padding-bottom: 30px;
    border: 2px solid rgb(2, 2, 2);
    margin: 5px;
    background-color: gray;
    position: relative;

}

.element1{
    font-weight: bold;
    background-color: #D59898;
    padding: 5px 35px;
    border: 2px solid black;
    position: absolute;
    top: -2px;
    right: -2px;
    text-align: right
}
.sub-container p{
    position: relative;
    top: 30px;
    font-weight: 500 ;
}
.element2{
    background-color: #C14543;
    font-weight: bold;
    color: white;
    padding: 5px 48px;
    border: 2px solid black;
    position: absolute;
    top: -2px;
    right: -2px;
    text-align: right
}
.element3{
    background-color: #E5D198;
    font-weight: bold;
    padding: 5px 45px;
    border: 2px solid black;
    position: absolute;
    top: -2px;
    right: -2px;
    text-align: right
}

@media (max-width: 992px) and (min-width: 786px){
    .container{
        display: flex;
        flex-wrap: wrap;
        
        position: relative;
    }

    .sub-container{
        flex-grow: 1;
    }
}
@media (max-width: 785px){
    .container{
        display: flex;
        flex-direction: column;
    }
    
}    
